<div class="contacts">
  <div class="contacts__list">
    <app-contact-list
      (addClicked)="openAddForm()"
      (contactSelected)="onContactSelected($event)"
    ></app-contact-list>
  </div>
  <div class="contacts__detail">
    <app-contact-detail
      [contact]="selectedContact()"
      (editClicked)="openEditForm($event)"
      (deleteClicked)="onDeleteContact($event)"
    ></app-contact-detail>
  </div>

  @if (showForm()) {
    <div class="contacts__overlay" (click)="closeForm()">
      <div class="contacts__modal" (click)="$event.stopPropagation()">
        <app-contact-form
          [editingContact]="editingContact()"
          (closed)="closeForm()"
        ></app-contact-form>
      </div>
    </div>
  }
</div>
