@use '../../../styles/abstracts' as *;

.main-layout__content {
    max-width: calc($max-width - $sidebar-width);
    height: 100dvh;
    margin-left: $sidebar-width;
    padding-top: $topbar-height;
    
    @include mobile {
        height: auto;
        margin-left: 0;
        padding-top: $mobile-bar-height;
        padding-bottom: $mobile-bar-height;
    }
}
