@use '../../../styles/abstracts' as *;

.main-layout__content {
    max-width: calc($max-width - $sidebar-width);
    height: 100dvh;
    margin-left: $sidebar-width;
    padding-top: $topbar-height;
    overflow: hidden;

    @include mobile {
        height: auto;
        margin-left: 0;
        padding-top: 80px;
        padding-bottom: 80px;
    }
}
