@use '../../../../styles/abstracts' as *;
@use 'styles/priority';
@use 'styles/dropdown';
@use 'styles/subtasks';
@use 'styles/fields';
@use 'styles/footer';

:host {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.add-task-form {
    display: flex;
    max-width: 976px;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    // gap: 124px;

    @media (max-width: #{$breakpoint-columns}) {
        gap: 48px;
    }

    &__columns {
        display: flex;
        align-items: stretch;
        gap: 48px;

        @media (max-width: #{$breakpoint-columns}) {
            flex-direction: column;
            gap: 24px;
        }
    }

    &__column {
        display: flex;
        width: 440px;
        max-width: 100%;
        flex: none;
        flex-direction: column;

        &--left {
            gap: $spacing-xl;
        }

        &--right {
            gap: $spacing-lg;
        }
    }

    &__field {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: $spacing-sm;
    }

    &__error {
        position: absolute;
        top: 100%;
        left: 0;
        margin-top: $spacing-xs;
        color: $color-error;
        font-size: 12px;
        line-height: 120%;
    }

    &__label {
        color: $color-text;
        font-size: 20px;
        line-height: 120%;

        span {
            color: $color-error;
        }

        &--plain {
            color: #000000;

            @include mobile {
                color: #42526e;
            }
        }

        @include mobile {
            font-size: 16px;
        }
    }
}
