/* You can add global styles to this file, and also import other style files */
@use 'styles/abstracts' as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-primary;
  font-size: 16px;
  font-weight: $font-weight-regular;
  color: $color-text;
  background-color: $color-bg;
}

button,
input,
textarea,
select {
  font: inherit;
}

body.modal-open {
  position: fixed;
  width: 100%;
}
