<div class="contact-list">
  <button class="contact-list__add-btn" (click)="addClicked.emit()">
    Add new contact
    <img src="/icons/addnewcontact.svg" alt="" class="contact-list__add-icon" />
  </button>

  @for (group of groups(); track group.letter) {
    <div class="contact-list__group">
      <span class="contact-list__letter">{{ group.letter }}</span>

      @for (contact of group.contacts; track contact.id) {
        <div
          class="contact-list__item"
          [class.contact-list__item--active]="contact.id === selectedId"
          (click)="onSelect(contact)"
        >
          <span class="contact-list__avatar" [style.background-color]="contact.color">
            {{ getInitials(contact.name) }}
          </span>
          <div class="contact-list__info">
            <span class="contact-list__name">{{ contact.name }}</span>
            <span class="contact-list__email">{{ contact.email }}</span>
          </div>
        </div>
      }
    </div>
  }

  <button class="contact-list__fab" (click)="addClicked.emit()" aria-label="Add new contact">
    <img src="/icons/addnew_mobil.svg" alt="" />
  </button>
</div>
